###########################################################
# Visual Studio
###########################################################

.vs
[Aa]rtifacts/
[Bb]in/
[Oo]bj/
[Pp]ackages/

*.cache
*.feature.cs
*.user
*.sln.GhostDoc.xml
*.suo
