###########################################################
# Visual Studio
###########################################################

.vs
[Bb]in/
[Bb]Uild/
[Oo]bj/
[Pp]ackages/

*.cache
*.DotSettings
*.feature.cs
*.user
*.sln.GhostDoc.xml
*.suo
